<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color:#313131;">

<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"> &nbsp; FINDPATTERN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/encontrarPatron">Encuentra tu patr&oacuten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patrones">Patrones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/creditos">Creditos</a>
            </li>
        </ul>
    </div>
</nav>


<!-- INFO Proyecto -->
</br>
<h1 class="row justify-content-md-center text-white">Informacion</h1>
</br>


<div class="row justify-content-md-center">
    <div class="col-10">
        <h6 class="row-sm justify-content-md-center text-white">
            Se plantea diseñar una aplicación que facilite el aprendizaje y la aplicación e implementación de patrones de diseño.
            Esta aplicación acompañara en las tareas de aprendizaje, eleccion, verificacion, pruebas y validación. Se ha desarrollado
            utilizando como tecnologias principalmente SPRING, bootstrap y MongoDB. En el apartado metodologico se ha utilizado
            metodologias agiles apoyadas en la plataforma Worki. El control de versiones se ha llevado a cabo gracias a git y github.
            Por ultimo, para la gestion de documentos se ha utilizado Microsoft Teams y como IDE IntelliJ y Visual Studio Code.
        </h6>
    </div>
</div>
</br>

<!-- INFO CREDITOS -->
</br>
</br>
</br>
<h1 class="row justify-content-md-center text-white">Participantes</h1>
</br>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Adrian Ferrandis</h5>
                    <p class="card-text text-white">Alumno de la ETSINF encargado del desarrollo del TFG.</p>
                    <a href="https://ferrandis.me/" class="btn btn-primary">Visitar</a>
                </div>
            </div>

        </div>

        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Vicente Pelechano</h5>
                    <p class="card-text text-white">Profesor tutor del TFG. Jefe de estudios del centro en el momento de su realización.</p>
                    <a href="http://www.upv.es/ficha-personal/vpelecha" class="btn btn-primary">Visitar</a>
                </div>
            </div>

        </div>
        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">UPV</h5>
                    <p class="card-text text-white">Universidad bajo la cual se ha hecho el proyecto. Desarollado en Escuela Superior de Ingenieria Informatica (ETSINF)</p>
                    <a href="http://www.upv.es/" class="btn btn-primary">Visitar</a>
                </div>
            </div>

        </div>

        </div>
    </div>
</div>


<!-- CREDITOS-->
</br>
</br>
<h6 class="row justify-content-md-center text-secondary">Proyecto programado por Adrian Ferrandis Homsi para un TFG de la UPV tutorizado por Vicente Pelechano</h6>

<!-- SCRIPT-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>