<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color:#313131;">

<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"> &nbsp; FINDPATTERN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/encontrarPatron">Encuentra tu patr&oacuten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patrones">Patrones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/creditos">Creditos</a>
            </li>
        </ul>
    </div>
</nav>
</nav>

<!-- Tipos test -->
</br>
<h2 class="row justify-content-md-center text-white">Elige la categoría en la que encaja tu patrón</h2>
</br>

<!-- INFO CREDITOS -->
</br>
</br>
</br>
<h1 class="row justify-content-md-center text-white">Categorias</h1>
</br>
<div class="container">
    <div class="row">
        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Patrones creacionales</h5>
                    <p class="card-text text-white">Estos patrones proporcionan mecanismos de creación de objetos que incrementan la flexibilidad y la reutilización del código existente.</p>
                    <a class="btn btn-primary" th:href="@{/testCreacional/{idUsuario}(idUsuario = ${iduser})}"> Buscar Patrón</a>
                </div>
            </div>

        </div>

        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Patrones estructurales</h5>
                    <p class="card-text text-white">Estos patrones explican cómo ensamblar objetos y clases en estructuras más grandes, mientras se mantiene la flexibilidad y eficiencia de la estructura.</p>
                    <a class="btn btn-primary" th:href="@{/testEstructural/{idUsuario}(idUsuario = ${iduser})}"> Buscar Patrón</a>
                </div>
            </div>

        </div>
        <div class="col-sm">

            <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">Patrones de comportamiento</h5>
                    <p class="card-text text-white">Estos patrones tratan con algoritmos y la asignación de responsabilidades entre objetos.</p>
                    <a class="btn btn-primary" th:href="@{/testComportamiento/{idUsuario}(idUsuario = ${iduser})}"> Buscar Patrón</a>
                </div>
            </div>

        </div>

    </div>
</div>
</div>


<!-- CREDITOS-->
</br>
</br>
<h6 class="row justify-content-md-center text-secondary">Proyecto programado por Adrian Ferrandis Homsi para un TFG de la UPV tutorizado por Vicente Pelechano</h6>

<!-- SCRIPT-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>